@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --dark:  rgba(18,7,175);
    --brown: rgb(255, 221, 68);
}

*{
    font-family: "Outfit", sans-serif;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.first{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("https://png.pngtree.com/background/20230617/original/pngtree-exterior-design-of-a-modern-house-in-the-city-a-3d-picture-image_3683269.jpg");
    height: 80vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 30px 20px;

    margin-bottom: 50px;

   
}

section.first header{
/* border: 1px solid red; */
width: 90%;
padding: 0px 20px;

}
section.first nav{
    width: 100%;
}
section.first nav .logo{
    /* border: 1px solid red; */
    width: 10%;
}
section.first .logo img{
    width: 100%;
   
}
section.first nav ul{
    width: 100%;
    list-style-type: none;
   
}
section.first nav ul li{
    color: white;
    padding: 5px 20px;
  
    transition-duration: 0.4s;
}
section.first nav ul li:hover{
    background-color: var(--brown);
    color: black;
    border-radius: 50px;
}
section.first nav ul a{
    text-decoration: none;
    font-size: 18px;
}
section.first div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section.first div h1{
    color: var(--brown);
    margin-bottom: -0px;
    font-size: 50px;
}
section.first div .input{
    width: 100%;
    padding: 0px 10px;
    border-radius: 50px;
    border: none;
    font-size: 17px;
    background-color:  rgb(255, 255, 255);
    flex-direction: row;
}
section.first div input{
    width: 90%;
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
}
section.first div i{
    cursor: pointer;
    font-size: 40px;
}

section.first footer i{
    color: white;
    font-size: 20px;

    padding: 20px 25px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
   
}


section.second{
  height: 70vh;

    padding: 30px 20px;

    margin-bottom: 30px;

   
}

section.second .hero{
    /* border: 1px solid red; */
justify-content: space-around;
align-items: center;
  
}
section.second .hero .img{
      /* border: 1px solid red; */
    width: 30%;
}
section.second .hero .img img{
      /* border: 1px solid red; */
    width: 100%;
}
section.second .hero .text{
      /* border: 1px solid red; */
    width: 40%;
}
section.second .hero .text a{
color: rgb(0, 0, 0);
background-color: var(--brown);
padding: 10px 20px;
text-decoration: none;
}