@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --headingcolor:#002244;
    --darkblue: #012169;
    --sectionColor: #000080;
    --backGround: #89CFF0;
}

*{
    font-family: "Poppins", sans-serif;
}

section{
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

.flex{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

body{
    /* background-color: var(--backGround); */
    color: var(--headingcolor);
    font-family: sans-serif;
    text-align: center;
}

header{
    /* border: 2px solid red; */
    height: 16vh;
    margin-bottom: 10px;
    
    
}

nav{
    /* border : 1px solid rgb(0, 102, 255); */
    z-index: 3;
    /* position: fixed; */
    background-color: black;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    padding: 0px 40px;
}
nav img{
    /* border: 1px solid red; */
    width: 150px;
}
nav ul a{
    /* border: 1px solid black; */
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    /* color: var(--headingcolor); */
}

nav ul li{
    /* border: 1px solid red; */
    align-items: center;
    margin-right: 20px;
    list-style: none;
    justify-content: space-around;

}

section.email{
    /* border: 1px solid red; */
    width: 100%;
    height: 20vh;
    margin: 30px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.email form{
    width: 80%;
}
section.email form .tex{
    /* background-color: #000; */
    padding: 20px 20px;
    width: 100%;
    justify-content: space-around;
}
section.email form .tex input{
 
    padding: 15px 20px;
    width: 70%;
   
}
section.email form .tex button{
 
    padding: 15px 20px;
    width: 20%;
    cursor: pointer;
   
}

section.firstSection{
    /* border: 2px solid red; */
    height: 70vh;
    position: relative;
    width: 100%;
}

.body{
    /* background: #161616; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    
    position: relative;
    height: 100%;
    width: 100%;
}
.bdy{
    /* background: #161616; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    
    position: relative;
    height: 50vh;
    width: 70%;
    margin-bottom: 30px;
}

.swiper-slide .box{
    /* border: 1px solid red; */
    width: 40%;
    height: auto;
    background-color: white ;
    box-shadow: 15px 20px 10px 3px #00000050;
        
}

.bdy .swiper .swiper-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 20px 0px; */
        height: 100%;
}
/* .bdy .swiper .swiper-wrapper .swiper-slide .box img{
   width: 100%;
   z-index: -20;
   position: absolute;
   
} */
.bdy .swiper .swiper-wrapper .swiper-slide .box .text{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/res2.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 10px;   
    cursor: pointer;
   
}

#view{
    padding: 10px 20px;
    background-color: lightgreen;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #292424; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  div.atacth{
    /* border: 1px solid rgb(230, 203, 203); */
    /* width: 100%; */
    height: 20vh;
    background-color: aliceblue;
    /* padding: 5px 20px; */
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
  }

section.secondSection{
    flex-direction: column;
    height: 50vh;
}
.secondSection .container{
    /* border: 1px solid red; */
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.secondSection .box{
text-align: center;
    width: 30%;
}
.secondSection .container .text{
    /* border: 1px solid black; */
}
.secondSection .container .text p{
    font-size: 1.1em;
}
.awords{
    /* border:1px solid red; */
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.awords a{
    background-color: #000080;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
}
.awords .b1{
    background-color: #007f98;
}
.awords .b2{
    background-color: #393939;
}
.awords .b3{
    background-color: #43036d;
}

section.residency{
/* border: 1px solid red; */
height: 80vh;
margin: 50px 0px;

padding: 0px 20px;

align-items: center;
justify-content: center;
flex-direction: column;
}
section.residency .bady{
/* border: 1px solid red; */
height: 60vh;
width: 70%;
height: 40vh;
margin-bottom: 20px;
}

section.abut{
    /* border: 1px solid red; */
    height: 80vh;
    margin: 20px 0px;
    
    padding: 0px 20px;
    
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    }
    section.abut .images{
        /* border: 1px solid red; */
        width: 50%;
        height: 100%;
        justify-content: space-around;
    }
    section.abut .text{
        /* border: 1px solid rgb(0, 174, 255); */

        width: 50%;
        
        text-align: left;
        justify-content: center;
        align-items: center;
    }
    section.abut .text h1{
        font-size: 2.6rem;
    }
    section.abut .text p{
        font-size: 1rem;
    }
    section.abut .text button{
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    section.abut .images img{
        width: 40%;
        
    }

.secondSection .container .text p{
    font-size: 1.1em;
}
section.thirdSection{
    height: 70vh;
    background-color: #007f9815;
}
.thirdSection img{
width: 70%;
}
/* section.fourthSection{
} */
.fifthSection{
    width: 100%;
    background-color: var(--headingcolor);
    height: 100vh;
}
section.footer{
    height: 10vh;
    background-color: var(--backGround);
    width: 100%;
}